$grid-breakpoints: (
  md: map-get($mq-breakpoints, md),
  lg: map-get($mq-breakpoints, lg),
  // xl: map-get($mq-breakpoints, xl),
)!default;
$container-max-widths: (
    md: 720px,
    lg: 992px,
    //xl: 1200px
) !default;
$grid-gutter-width: 30px !default;
$grid-size-columns: 12!default;
$grid-generated-columns: (1,2,3,4,5,6,7,8,9,10,11,12) !default;
$grid-generated-offsets: (1,2,3,4,5,6,7,8,9,10,11,12) !default;
$grid-include-base-style: true !default;


// $grid-generated-columns: (5,6,12) !default;
// $grid-generated-offsets: (1) !default;
